<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title>{% block title "The site" %}</title>
</head>
    <style type="text/css">
    </style>
<body>
    <nav class="pd20 xt lg bg-prm">
        <a href="/news" class="nav-brand">The Site</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="{{ path('blog.index') }}" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="{{ path('blog.admin.index') }}" class="nav-link">Admin</a></li>
            {# <li class="nav-item"><a href="/admin/posts" class="nav-link">Admin</a></li> #}
        </ul>
    </nav>
    <div class="container">
    {% block body %}{% endblock %}
    </div>
    <div class="footer bg-lgh xt pd20">
        {# <?php if (defined('DEBUG_TIME') || true) : ?>
            Generated the page in <?= round((microtime(true) - microtime(true)) * 1000) ?>ms.
        <?php endif ?> #}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/2.0.2/timeago.min.js" integrity="sha512-sl01o/gVwybF1FNzqO4NDRDNPJDupfN0o2+tMm4K2/nr35FjGlxlvXZ6kK6faa9zhXbnfLIXioHnExuwJdlTMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/2.0.2/timeago.locales.min.js" integrity="sha512-Ern3V9KogyU2Y8PxtQPiKB5A2piG0jCZJ0Rmd9g1aWwk7JwRcfUVkIkW3M7CjoCFMqWtXMUmurTa2dSrdtaZLg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        timeago().render(document.querySelectorAll('.timeago'), 'en');
    </script>
</body>
</html>