{% extends '@admin/layout.twig' %}

{% block title "Edit post" %}

{% block body %}

    <h1>Edit post {{ item.name }}</h1>

    <form action="{{ path('blog.admin.edit', {id: item.id}) }}" method="post">
    {% include '@blog/admin/form.twig' %}
        <button class="btn prm" type="submit">Save</button>
    </form>

{% endblock %}