{% extends 'layout.twig' %}

{% block title "The posts" %}

{% block body %}
    <h1>Welcome in the twig template</h1>
    <ul>
        <li><a href="{{ path('blog.show', {slug: 'random-slug22'}) }}">Post 01</a></li>
        <li>Post 00</li>
        <li>Post 00</li>
        <li>Post 00</li>
        <li>Post 00</li>
        <li>Post 00</li>
    </ul>
{% endblock %}
